h2{
     color:darkorange
 }   

.aboutme{
 
  background-color: #d0b492;   
 }

 .body{

background-color: burlywood;

 }

 .games{

display: flex;
flex-wrap: wrap;

justify-content: space-evenly;
 }

 .footer{

    display:flex;
    flex-wrap: wrap;

    justify-content: flex-end;
 }